<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Inspius. All rights reserved.
 * Author: Stephen Pham, Phong Nguyen
 * Author URI: http://inspius.com
 */
-->
<integrations>
    <integration name="iscommerceIntegration">
        <email>contact@inspius.com</email>
    </integration>
</integrations>
